.headerFlexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo-container{
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    margin-right:2rem;


}

/* logo style */
.logo{
    display: block;
    width: 5rem;
    height: 5rem;
    background-image: url(../source/logo.jpg);
    background-position: center;
    background-size:cover ;  
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.menu{
    margin-right: 2rem;
}

.menu a{
    display: flex;
    flex-wrap: wrap;
    min-height: 4rem;
    min-width: 13rem;
    align-items: center;
    justify-content: center;
    font-family:Cambria, Georgia, serif;
    font-size: 1.5rem;
    font-weight: Bold;
    color:rgb(33, 81, 112) ;
    text-decoration: none;
    text-transform: uppercase;
}

/* highlight the button */
.menu a:hover{
    background-color: rgba(132, 150, 163, 0.163);
    color:rgba(33, 80, 112, 0.774)  ;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.menu ul li{
    position: relative;
    text-align: center;
}

/* show dropdown list */
.menu li:hover .dropdown li{
    top:0;
    display: block;
}

/* hide dropdown list */
.dropdown li{
    display: none;
    position: relative;
}

/* dropdown list css */
.dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    -moz-box-shadow:7px 10px 20px #A8A8A8; 
    -webkit-box-shadow:7px 10px 20px #A8A8A8; 
    box-shadow:7px 10px 20px #A8A8A8;
    background-color: rgba(224, 227, 227, 0.783);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    z-index: 99999;
}



.search {
    width: 15rem;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 15rem;
    border: 0.2rem solid #5c8e95;
    border-right: none;
    padding: 0.3rem;
    height: 1.26rem;
    border-radius: 0.3rem 0 0 0.3rem;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #627f83;
  }
  
  .searchButton {
    align-content: center;
    width: 3rem;
    height: 2.25rem;
    border: 1px solid #5c8e95;
    background: #5c8e95;
    text-align: center;
    color: #fff;
    border-radius: 0 0.3rem 0.3rem 0;
    cursor: pointer;
    font-size: 1.3rem;
  }
