* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.01rem;
  grid-auto-rows: minmax(4rem, auto);
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

header {
  grid-column: span 12;
  grid-row: span 1;
  background-image: linear-gradient(
    90deg,
    rgb(232, 233, 233),
    rgb(255, 255, 255)
  );
  -moz-box-shadow: 0px 10px 20px #b5b5b5;
  -webkit-box-shadow: 0px 10px 20px #b5b5b5;
  box-shadow: 0px 10px 20px #b5b5b5;
}

.subHeader {
  grid-column: span 12;
  grid-row: span 2;
  background-color: #dcd7d759;
}

.slider {
  grid-column: span 12;
  grid-row: span 4;
}

.first-section-and-second-section {
  grid-column-start: 3;
  grid-column-end: 11;
  background-color: rgb(221, 233, 235);
  -moz-box-shadow: 0px 10px 20px #b5b5b5;
  -webkit-box-shadow: 0px 10px 20px #b5b5b5;
  box-shadow: 0px 10px 20px #b5b5b5;
}

.third-section {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row: span 10;
  background-color: rgb(221, 233, 235);
  -moz-box-shadow: 0px 10px 20px #b5b5b5;
  -webkit-box-shadow: 0px 10px 20px #b5b5b5;
  box-shadow: 0px 10px 20px #b5b5b5;
}

.fourth-section {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row: span 8;
  background-color: rgb(193, 148, 124);
}

footer {
  grid-column: span 12;
  grid-row: span 1;
  grid-row: span 2;
  background-color: brown;
}
