.content {
    display: flex;
    justify-content: center;
    align-items: center;
	align-content:center ;
}

.slide-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 60px;
    opacity: 0.8;
}

.slide-btn:hover {
    opacity: 1;
}

.slide-btn-left {
    left: 20px;
}

.slide-btn-left::after {
    content: "\276E";
}

.slide-btn-right {
    right: 20px;
}

.slide-btn-right::after {
    content: "\276F";
}

.pagination-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-box>span {
    margin: 0 10%;
    flex: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 50%;
}

.pagination-box>span.chose {
    width: 15px;
    height: 15px;
    opacity: 1;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.banner-item {
    flex: none;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.bi-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
}

.bi-content>h1 {
    font-size: inherit;
    margin-bottom: 5em;
    text-align: center;
}

.bi-content>h1>span {
    font-size: 8em;
    text-shadow: 0px 0px 5px #000;
}

.bi-content>button {
    font-size: inherit;
    width: 16em;
    height: 5em;
    color: #ffffff;
    background:rgb(184, 180, 180);
    border: 0.2em solid #fff;
    border-radius: 1em;
    box-shadow: 0px 0px 5px #000;
}
.bi-content>button:hover {
    background-color: rgb(167, 167, 167);
}

.bi-content>button>span {
    font-size: 2.4em;
}

@media screen and (width>900px) {
    .slide-box {
        width: 100%;
        height: 400px;
    }

    .bi-content {
        font-size: 10px;
    }
}

@media screen and (width>=700px) {
    .slide-box {
        width: 100%;
        height: 300px;
    }

    .bi-content {
        font-size: 6px;
    }
}

@media screen and (width<700px) {
    .slide-box {
        width: 100%;
        height: 300px;
    }

    .bi-content {
        font-size: 6px;
    }
}
